
/* *, *::before, *::after {
  box-sizing: inherit;
}

html {

  box-sizing: border-box;
  overflow-y: hidden;
}
*/
/* html body {
  padding: 0;
  margin: 0;
  overflow-y: inherit;
}  */

.App {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - 16px);
  gap: 0.25%;
  overflow-y: hidden;
  overflow-x: auto;
}

.survivorbook {
  text-align: left;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  height: 100%;
  width: 630px;
  margin: 0px
}

.hunterbook {
  text-align: left;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  height: 100%;
  background-color: rgb(250, 240, 186);
  width: 630px;
  margin: 0px
}

.canvas {
  margin: 0px;
  background-color: rgb(213, 213, 213);
}

.temp {
  margin: 10px;
}

.others {
  padding-top: "50px";
  max-width: 630px;
  width: 28vw;
  height: 12vh;
  background-color: #97fdff;
  min-height: 110px;
  min-width: 630px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.rescuers {
  max-width: 630px;
  width: 28vw;
  height: 12vh;
  min-height: 110px;
  min-width: 630px;
  background-color: rgb(165, 165, 255);
  display: flex;
  align-items: center;
}

.supports {
  max-width: 630px;
  width: 28vw;
  height: 12vh;
  min-height: 110px;
  min-width: 630px;
  background-color: rgb(254, 140, 254);
  display: flex;
  align-items: center;
}

.harassers {
  max-width: 630px;
  width: 28vw;
  height: 12vh;
  min-height: 110px;
  min-width: 630px;
  background-color: rgba(253, 151, 151, 0.644);
  display: flex;
  align-items: center;
}
.kiters {
  max-width: 630px;
  width: 28vw;
  height: 12vh;
  min-height: 110px;
  min-width: 630px;
  background-color: rgb(165, 246, 201);
  display: flex;
  align-items: center;
}

.decoders {
  max-width: 630px;
  width: 28vw;
  height: 12vh;
  min-height: 110px;
  min-width: 630px;
  background-color: rgb(225, 225, 160);
  display: flex;
  align-items: center;
}

.useless {
  max-width: 630px;
  width: 28vw;
  height: 12vh;
  min-height: 110px;
  min-width: 630px;
  background-color: rgb(150, 150, 150);
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.slots {
  display: flex;
  flex-direction: column;
  margin: 0px
}

.bans1 {
  width: 110px;
  height: 110px;
  border-right: 2px solid black;
  border-left: 2px solid black;
  background-color: grey;
  margin-left: 0px;
}
.bans1:last-child {
  width: 110px;
  height: 110px;
  border-right: 0px solid black;
  background-color: grey;
  margin-left: 0px;
}
.bans1:first-child {
  width: 110px;
  height: 110px;
  border-left: 0px solid black;
  background-color: grey;
  margin-left: 0px;
}
.bans2 {
  width: 110px;
  height: 110px;
  border: 2px solid black;
  background-color: red;
}

.altbans2 {
  width: 110px;
  height: 110px;
  border: 2px solid black;
  background-color: white;
}

.selects2 {
  width: 110px;
  height: 110px;
  border: 2px solid black;
  background-color: rgb(16, 186, 16);
}

.altselects2 {
  width: 110px;
  height: 110px;
  border: 2px solid black;
  background-color: white;
}

.phase {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.hunterbans {
  width: 110px;
  height: 110px;
  border: 2px solid black;
  background-color: red;
}

.hunterslots {
  display: flex;
  flex-direction: row;
  gap: 0px;
}

.huntertable {
  display: flex;
  flex-direction: row;
}

.huntertableslot {
  background-color: gray;
  width: 110px;
  height: 110px;
  border: 2px solid black;
}
.huntertableslot0 {
  width: 110px;
  height: 110px;
  border: 2px solid black;
  background-color: rgb(16, 186, 16);
}

.bucket_S{
  background-color: red;
}
.bucket_A{
  background-color: rgb(255, 157, 0);
}
.bucket_B{
  background-color: rgb(234, 255, 0);
}
.bucket_C{
  background-color: rgb(255, 255, 255);
}